body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration:underline
}


li {
    list-style: none;
}

.icono-menu {
    width: 15px;
    padding: 9px;
    /* por qué no se puede poner */
    /* margin-left: 30px; */
    opacity: 75%;    
}


.imagen-perfil {
    width: 36px;
    border-radius: 50%;
    padding: 3px;
}

.imagen-perfil:hover {
    background-color: #d2d2d2;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    top: 0;
    font-size: small;
}

nav {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-right: 10px;
}

ul.barra {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 0px 7px;
}

nav ul li a {
    color: black;
}

/* nav ul .imagen-perfil {
    margin: 0;
} */

nav ul .icono-menu {
    margin: 0px 8px 3px 8px;
}

.icono-busqueda {
    width: 14.58px;
    margin-left: 12px;
    margin-top: 3px;
}

main {
    margin-top: 90px;
    text-align: center;
}

main .main-input {
    display: flex;
    justify-content: center;
}

main .main-input .main-input-container {
    width: 580px;
    height: 44px;
    border: solid 1px #d0d0d7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

main .main-input .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #d0d0d7;
}


main .main-input .main-input-container input {
    width: 470px;
    height: 35px;
    margin-left: 12px;
    font-size: 16px;
    border: none;
}

.mic-icon {
    display: flex;
    justify-content: end;
}

.mic-icon img {
    width: 24px;
    margin-right: 0px;
}

.botones {
    width: 580px;
    /*para qué es esto?*/
    margin: 0 auto;
}

.botones div {
    display: inline-block;
}

.botones div button {
    width: 153px;
    height: 36px;
    margin: 0 4px 0 4px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: rgb(35, 35, 35);
}

.botones div button:hover {
    border: solid 1px #c1c1c1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1); 
    color: #222;
    background-color: #f8f8f8;
}

.region {
    margin-top: 30px
}

.region p {
    font-size: small;
    color: #505050;
}

.footer-arriba {
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 45px;
    background-color: #F2F2F2;
    color: #7e7e7e;
    font-size: 14px;
    padding-left: 30px;
}



.footer-abajo {
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-top: 1px solid #d9d9d9;
}

.footer-left {
    padding-left: 0px;
}

.footer-left li {
    display: inline-block;
    margin-left: 30px;
}

.footer-right li {
    display:inline-block;
    margin-right: 30px;
}

footer ul li a {
    color: #7e7e7e;
    font-size: 14px;
}

